# Ignore tout
*

# Exceptions pour les fichiers
!*.cpp
!*.h
!*.gitignore

# Exception pour le dossier Assets et son contenu
!PAClient/Assets/
!PAClient/Assets/*

# Ne pas ignorer le dossier ClionStuff
